<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>

</ul>

{% schema %}
  {
    "name": "Collection Tabs Section",
    "settings": [],
    "presets": [
      {
        "name": "Collection Tabs",
        "category": "Collections"
      }
    ]
  }
{% endschema %}