<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>


<div class="grid">
  <div class="grid--2-col-desktop grid__item">
  {% render 'social-icons' %}
  </div>
<div class="grid--2-col-desktop grid__item">
  
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [

{
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    }

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
