<div class="grid">
  <div class="grid--2-col-desktop .grid__item">
  
  </div>
<div class="grid--2-col-desktop .grid__item">
  
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
